*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}
body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #77b2e2, #eee69ade);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
}
.container{
    background: #fccc0ad5;
    width: 450px;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.562);
}
form{
    margin: 0 2rem;
}
.form-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
    color: #3c7397;
}
input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}
.input-group{
    padding: 1% 0;
    position: relative;

}
.input-group i{
    position: absolute;
    color: #3c7397;
    padding-right: 5rem;
}
 input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom: 2px solid hsl(0, 0%, 0%);
}
input::placeholder{
    color:transparent
}
label{
    color: #757575;
    position: relative;
    left: 1.2em;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top: -3em;
    color: hsl(0, 0%, 0%);
    font-size: 15px;
}

.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: #3c7397;
    color: white;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    background: blue;
}

.links{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0.4rem;
    margin-top: 1rem;
    font-weight: bold;
}
button{
    color: #3c7397;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}
button:hover{
    text-decoration: underline;
    color: blue;
}

.erro-login {
    color: #3c7397;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.titulo {
    display: block;
    width: 600px;
    height: auto;
    margin: 0 auto 70px auto;
}
